#city {
    font-weight: 600 !important;
    font-size: 3em !important;
}
.temp {
    font-size: 9em;
    text-align: center;
}

.extra {
    text-align: center;
    margin-top: 5%;
}

.extra .wi {
    font-size: 3em;
}

.extra span {
    color: #fff;
}

.extra-label {
    font-weight: 400 !important;
}

.extra-info {
    font-size: 20px;
    font-weight: 600 !important;
}